<a href="/dashboard/properties/{{unit.property.id}}"> &larr; Back to Property</a>


<h1>Unit Number: {{unit.unit_number}}</h1>
<h2>{{unit.property.nickname}}</h2>

<h1>Issues:</h1>
{{#if unit.issues.length}}
{{#each unit.issues as |issue|}}
<article class="issue">
    <a href="/dashboard/issues/{{issue.id}}">
    <div>
        <h3>{{issue.issue_title}}</h3>
        <p>{{issue.issue_text}}</p>
    </div>
    </a>
</article>
{{/each}}
{{/if}}